$colors: (
    text: rgb(40,40,40),
    background-dark: rgb(236,239,241),
    background-light: #FFFFFF,
    contour: rgb(233, 227, 227),
    accent: #9E9E9E,
    primary-dark: #0288D1,
    primary-light: #B3E5FC,
    primary: #03A9F4
    );

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&subset=latin-ext');

@function color($color-name) {
    @return map-get($colors, $color-name)
}